future
emoji
requests
sqlalchemy
python-telegram-bot==11.1.0
psycopg2-binary
pyowm
feedparser
geopy
speedtest-cli>=2.0.2
bs4
lxml
aiohttp>=2.2.5
Pillow>=4.2.0
pythonping
geopy
#Cool stuff by Peak
PyLyrics
#AEX
hurry.filesize
#translator
beautifulsoup4==4.6.3
tldextract
wikipedia
googletrans
alphabet_detector
pynewtonmath
spongemock
zalgo-text
hurry.filesize
tldextract
PyYAML
bleach
markdown2

